*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --tg-theme-bg-color: #fff;
  --tg-theme-text-color: #000;
  --tg-theme-secondary-bg-color: rgba(255, 255, 255, 0.9);
  --tg-theme-button-color: #40a7e3;
  --tg-theme-button-text-color: #fff;
  --tg-theme-accent-text-color: #40a7e3;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
